@main(Html("DPost  - A Post Office For Your Web Site")) {
    <div class="indexContainer"> 
        
        <div class="indexContainerLeft">
           <div class="indexContainerAboutDPost">
           <img border="0" src="@routes.Assets.at("images/logo-main.png")" />
           <BR><BR><BR><BR>
           <H5>DPost <a target="_blank" href="https://github.com/beep02/dpostserver/tree/master/docs">documentation</a></H5>
           <p>Read installation.pdf for quick start</p>
           <p>Read clients.pdf for more info how to add Dpost clients</p>
           <p>Read dpost-db.pdf for more info how to add Data Base</p>
           <p>Read dpost-as-service.pdf to make a service from DPost</p>
           </div>
           <div class="indexContainerAboutDPost">
              <H5>Feedback</H5>
              <p>
                Issues and bugs report <a href="https://github.com/beep02/dpostserver/issues">here</a>
              </p>
           </div>
        </div>
        
        <div class="indexContainerMiddle">
        </div>
        
        <div class="indexContainerRight"> 
           <div class="indexContainerAboutDPost">
             
             <H5>License</H5>
             
                Free
             
           </div>
           
           <div class="indexContainerAboutDPost">
              <H5>Product Version</H5>
              <p>
                @com.outtribe.dpost.help.Helper.version
              </p>
           </div>
           
           <div class="indexContainerAboutDPost">
              <H5>Version highlights</H5>
              <p>
                PHP, .Net, Java, Scala web sites support
              </p>
              <p>
                Templates internationalization
              </p>
              <p>
                Play! Framework MVC & UI
              </p>
              <p>
                Akka+scala engine
              </p>
              <p>
                Basic monitoring
              </p>
              <p>
                Optional DB storage
              </p>
              <p>
                Connects to Google and MS SMTP MTA
              </p>
              <p>
                More...
              </p>
           </div>
           
           
        </div>
    </div>
  
}